@model FoodMartMongo.Dtos.DiscountDtos.CreateDiscountDto

@{
    Layout = "~/Views/AdminLayout/Index.cshtml"; ;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h3 class="alert alert-primary">Yeni İndirim Ekleme Sayfası</h3>
    <form method="post">
        <label>İndirim Adı</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>İndirim Alt Başlık</label>
        <input type="text" asp-for="Subtitle" class="form-control" />
        <br />
        <label>İndirim Açıklama</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />
        <label>Image URL Bilgisi  </label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />
        <button class="btn btn-info">İndirim Ekle</button>
    </form>
</div>