@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>

    @await Component.InvokeAsync("_DefaultSvgComponentPartial")

    @await Component.InvokeAsync("_DefaultHeaderComponentPartial")

    @await Component.InvokeAsync("_DefaultSliderComponentPartial")

    @await Component.InvokeAsync("_DefaultCategoryComponentPartial")

    @await Component.InvokeAsync("_DefaultTrendingProductsComponentPartial")

    @await Component.InvokeAsync("_DefaultDiscountComponentPartial")  

    @await Component.InvokeAsync("_DefaultBestSellingProductsComponentPartial")

    @await Component.InvokeAsync("_DefaultMessageComponentPartial")

    @await Component.InvokeAsync("_DefaultAppComponentPartial")

    @await Component.InvokeAsync("_DefaultPeopleLookingComponentPartial")

    @await Component.InvokeAsync("_DefaultPreFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")    

</body>
</html>