
<ul class="list-unstyled components mb-5">
    <li class="active"><a href="/Default/Index"><span class="fa fa-home mr-3"></span>Siteye Git</a></li>
    <li><a href="/Category/CategoryList/"><span class="fa fa-list mr-3 notif"></span>Kategoriler</a> </li>
    <li><a href="/Discount/DiscountList/"><span class="fa fa-percent mr-3""></span>İndirimler</a></li>
    <li><a href="/Product/ProductList/"><span class="fa fa-tags mr-3"></span>Ürünler</a></li>
    <li><a href="/SearchKey/SearchKeyList/"><span class="fa fa-search mr-3"></span>Aranan Kelimeler</a></li>
    <li><a href="/Slider/SliderList/"><span class="fa fa-support mr-3"></span>Slider</a></li>    
    
</ul>
