<div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
    </button>
</div>
<div class="img bg-wrap text-center py-4" style="background-image: url(/sidebar-09/images/image3.jpg);">
    <div class="user-logo">
        @* <div class="img" style="background-image: url(/sidebar-09/images/logo.png);"></div> *@
        <h3>Admin Paneli</h3>
    </div>
</div>