<header>
    <div class="container-fluid">
        <div class="row py-3 border-bottom">

            <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                    <a href="/Default/Index">
                        <img src="/FoodMart-1.0.0/images/logo.png" alt="logo" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-3">
            <div class="d-flex  justify-content-center justify-content-sm-between align-items-center">
                <nav class="main-menu d-flex navbar navbar-expand-lg">

                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                        <div class="offcanvas-header justify-content-center">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">

                            <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                                <li class="nav-item active">
                                    <a href="#ShopCollection" class="nav-link">Shop Collection</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#Kategori" class="nav-link">Kategori</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#Trend" class="nav-link">Trend Ürünler</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#Discount" class="nav-link">İndirimli Ürünler</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#Brand" class="nav-link">En Çok Satanlar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#Message" class="nav-link">Mesaj Gönder</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#Search" class="nav-link">Aranan Ürünler</a>
                                </li>
                            </ul>

                        </div>

                    </div>
            </div>
        </div>
    </div>
</header>